body, html
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-page-buttons-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

button, select
{
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #222222;
    color: white;
    border: solid white 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.add-book-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

input
{
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #222222;
    color: white;
    border: solid white 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.borrow-return-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}